.modalContent-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}
.modalContent-outer {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: transparent;
}
.modalContent {
	position: relative;
	border: 2px solid #BCE8F1;
	background-color: #D9EDF7;
	padding: 8px 35px 8px 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
}
.modalContent .close {
	line-height: 18px;
	position: relative;
	right: -21px;
	top: -2px;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.modalContent .close:hover {
	color: #000000;
	text-decoration: none;
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: pointer;
}
.modalContent-top {
	margin: 100px auto 0;
}
.modalContent-bottom {
	margin: 100px auto 0;
}
.modalContent-left {
	margin: 100px auto 0;
}
.modalContent-right {
	margin: 100px auto 0;
}
.modalContent-fade {
	margin: 100px auto 0;
}
.modalContent-slide {
	top: 100px;
	margin: 0 auto;
}
