.modalContent-outer {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #000;
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}
.modalContent {
	position: relative;
	border: 2px solid #BCE8F1;
	background-color: #D9EDF7;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.modalContent-top {
	margin: 100px auto 0;
}
.modalContent-bottom {
	margin: 100px auto 0;
}
.modalContent-left {
	margin: 100px auto 0;
}
.modalContent-right {
	margin: 100px auto 0;
}
.modalContent-fade {
	margin: 100px auto 0;
}
.modalContent-slide {
	top: 100px;
	margin: 0 auto;
}
